.tableFixHead {
  overflow: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.divScroll {
  overflow: auto;
  min-width: 350px;
  max-height: 200px;
}

.card-dark {
  background-color: #1f2937;
  color: #fff;
}

.tradingview {
  margin: 5px;
  padding: 5px;
  min-height: 320px;
  height: 45vw;
  max-width: 100%;
  max-height: 100%;
}
